<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weatherForecast.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2E8511929C1E79C0074AC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E8512F29C1E79F0074AC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E8513929C1E79F0074AC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
